
      body{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
      }
      .left-buttons{
        background-color: rgb(48, 48, 48);
        color: white;
        border: none;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        font-size: 28px;
        margin-left: 5px;
      }
      .right-buttons{
        background-color: rgb(254, 160, 10);
        color: white;
        border: none;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        font-size: 28px;
        margin-left: 3px;
      }
      .clear-button{
        background-color: rgb(48, 48, 48);
        color: white;
        border: none;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        font-size: 17px;
        margin-left: 3px;
      }

      .js-result{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 3px;
        font-size: 45px;
        color: white;
      }
